:root{
    --dark: #012A4A;
    --dark-2 : #013A63;
    --dark-3 : #01497C;
    --dark-4 : #014F86;
    --dark-5 : #2A6F97;
    --light-5: #2C7DA0;
    --light-4: #468FAF;
    --light-3: #61A5C2;
    --light-2: #89C2D9;
    --light: #A9D6E5;


}

body{
    background-color: var(--dark);
    color: var(--light);
}
hr{
    color: var(--dark-5);
}
.main-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: none;
    margin: none;
    height: fit-content;
    font-size: 2rem;
}
.main-heading h1{
    margin: 0;
    padding: 0;
}
.main-heading p {
    margin: 0;
    padding: 0;
    font-size: 1rem;
}
.main-body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
section{
    background-color: var(--light);
    color: var(--dark);
    border-radius: 20px;
    box-shadow: 0px 10px var(--light-3);
    left: 50%;
}
section h1{
    padding: 0rem 1rem;
}

.big-border{
    height: 5rem;
}
.small-border {
    height: 2rem;
}
.leaderboard{
    border-radius: 20px;
    border: 1px var(--light-2) solid;
    width: 75%;
    min-height: 10rem;
    /* padding: 0.7rem 0rem; */
    background-color: var(--dark-5);
    color: var(--dark);
    display: flex;
    gap: 0rem;
    flex-direction: column;
    overflow: hidden;
}
rank{
    display: grid;
    height: 2rem;
    padding: 0.5rem;
    transition: 0.2s;
    grid-template-columns: 1fr 5fr repeat(9,2fr) 2rem;
}

rank:hover{
    background-color: var(--light-5);
}
rank span:nth-child(7){
    
    /* color: #09e79d; */
    border-radius: 20px;
    width: fit-content;
    padding: 0.5rem;

    color: hsl(calc(var(--percent) * 1.2), 100%, 45%);
    background-color: hsla(calc(var(--percent) * 1.2), 100%, 45%, 0.3);
    font-weight: bold;
}
rank-template{
    display: grid;
    padding: 0.5rem;
    grid-template-columns: 1fr 5fr repeat(9,2fr) 2rem;    
    background-color: var(--dark-2);
    color: var(--light-2);
    /* border-radius: 20px 20px 0 0; */
}